/* bodycolor */
/** ------
* colored background
*/
@myBgColor: #d2d2ba;

.bodyColorGreen{
    background-color:green;
}

.bodyColorGray{
    background-color:#d2d2ba;
    z-index:4;
}
body, #navbar, #header{
 background-color: @myBgColor;
}
.gridColor{
    background-color:#cc3300;
    z-index:4;
}
#wrapper.bg{
background-image: url(../../img/grid_12_60_20.png);
}

.color a{
    color:green;
}