/** tags.less */

.checkboxAria{
    float:left;
    display:inline-block;
}
.checkboxAria li a, .tag, .commentTags a, .respondBtn, .name-main-wide li{
    float:left;
    padding:5px;
    margin:5px;
    border:1px solid gray;
    border-radius:5px;
    background-color:@grey;
    text-decoration:none;
    font-size: @fontSizeH6;
}
.checkboxAria li a:hover, .tag:hover, .respondBtn:hover{
    
    background-color:@navhover;
}
.checkboxAria li {
float:left;
}
.viewTags{
    display:block;
    .column(@columns  );
}
.viewTags ul li {
padding:5px;
}
.users li{
    padding:5px;
float:left;
}

.makeTag{
float:left;
}
.tag{
float:left;
}
.commentTags{
    clear:both;
    
    display:block;
    height:50px;
}
.respondBtn{
margin-top:22px;
    background-color:@navcolor;
    color:#000;
}
.name-main-wide{
width:100%;
}
.name-main-wide li:hover{
border:1px solid green;
color:green;
}
.name-main-wide li a:hover{
 color:inherit;
}
.name-main-wide li {
    
    background-color:#eee;
}