/** tags.less */

.checkboxAria{
    float:left;
    display:inline-block;
}
.checkboxAria li{
    float:left;
    padding:5px;
}
.viewTags{
    display:block;
    .column(@columns  );
}
.viewTags ul li {
padding:5px;
}
.users li{
    padding:5px;
float:left;
}